@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



/* mode color themes */

:root.colors-pomodoro {
    --bg-color: #151515;
    --shadow-color: #383838;
    --text-color: #151515;
    --primary-color: #DA627D;
    --secondary-color: #A53860;
    --accent-color: #FFA5AB;
    --active-color: #ebadb1;
}

:root.colors-short-break {
    --bg-color: #151515;
    --shadow-color: #383838;
    --text-color: #151515;
    --primary-color: #C8B6FF;
    --secondary-color: #8D93C1;
    --accent-color: #BBD0FF;
    --active-color: #ccdaf9;
}

:root.colors-long-break {
    --bg-color: #151515;
    --shadow-color: #383838;
    --text-color: #151515;
    --primary-color: #96E072;
    --secondary-color: #3DA35D;
    --accent-color: #E8FCCF;
    --active-color: #eafad5;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: inherit;
    transition: all 0.03s linear;
}
/* main and card styles */

h1 {
    position: absolute;
}

.main {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--secondary-color);
    width: 26%;
    height: 67%;
    border-radius: 40px;
    box-shadow: 0px 6px 0px 7px var(--shadow-color);
}

/* card top: timer mode buttons */

.card-top {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.mode {
    border-radius: 40px;
    width: 26%;
    height: 75%;
    background-color: var(--primary-color);
    box-shadow: 0px 6px 0px 7px var(--shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
}

.mode:hover {
    background-color: var(--active-color);
}

/* card bottom: display and control button */

.card-bottom {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.display {
    border-radius: 40px;
    width: 90%;
    height: 50%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 600;   
    box-shadow: inset 0px 0px 0px 7px var(--shadow-color);
}

.control-button {
    border-radius: 40px;
    width: 90%;
    height: 35%;
    background-color: var(--primary-color);
    box-shadow: 0px 6px 0px 7px var(--shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
}

.control-button:hover {
    background-color: var(--accent-color);
}


